body {
    padding: 0;
    margin: 0;
    font-family: Roboto, sans-serif;
}

.container {
    display: flex;
    height: 100vh;
}

.sidebar {
    background: #ffffff;
    margin: 15px;
    width: 340px;
}
.preview {
    background: #f9fafd;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    width: 100%;
}

.layout-placeholder {
    color: #464b5b;
    font-size: 18px;
}

.accordion {
    background: #e6ebff;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 15px;
}

.accordion-title {
    color: #0033ff;
    font-weight: 800;
    font-size: 18px;
    margin: 0;
}

.label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: 700;
}

input {
    box-sizing: border-box;
}

.form-control {
    background-color: #ffffff;
    border: 1px solid #d6dae4;
    border-radius: 3px;
    padding: 6px 12px;
    height: 38px;
    width: 100%;
    margin-bottom: 20px;
}

label {
    font-size: 14px;
}

input[type="radio"] {
    margin: 0;
    width: 15px;
    height: 15px;
}

.radio-select {
    display: flex;
    align-items: center;
    gap: 5px;
}

.radio-group {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 20px;
}
hr {
    height: 1px;
    background-color: #7a767637;
    border: none;
}
.grid {
    display: grid;
    grid-template-columns: repeat( auto-fill, minmax(300px, 1fr) );
    gap: 10px;
}
.flex {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.layout-placeholder {
    margin-top: 2em;
    margin-bottom: 2em;
    text-align: center;
    padding: 1em;
}
/* Card styles */
.card-container {
    margin: 2em auto;
}
.card {
    border: 1px solid #7a767637;
    padding: 1em;
}
.card .card-header {
    margin-bottom: .5em;
}
.card .card-header .user-info {
    margin-left: 0.6em;
    font-size: .6em;
}
.card .card-header .user-info .user-name {
    margin: 0;
}
.card .card-header .user-img {
    width: 55px;
    height: 55px;
    border-radius: 50%;
}
.card .card-header .user-img {
    font-size: 1.2em;
}
.card .card-header .logo {
    width: 30px;
}
.card .card-img {
    width: 100%;
}
.card .card-descr {
    text-align: initial;
    font-size: .7em;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    height: 77px;
    text-overflow: ellipsis;
    margin-bottom: 0;
}

.card .card-img {
    width: 100%;
    height: 300px;
}
.card .likes {
    justify-content: flex-start;
    align-items: center;
}
.card .likes .like-numb {
    margin: 0;
}
.card .likes .like-img {
    margin-right: .3em;
    width: 40px;
    cursor: pointer;
}
.load-more-btn {
    font-size: 1em;
    font-weight: bold;
    background: blue;
    padding: 1em;
    color: #fff;
    border: none;
    text-transform: uppercase;
    margin-bottom: 4em;
    border-radius: 9px;
    cursor: pointer;
}
.liked {
    filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(346deg) brightness(104%) contrast(97%);
}
.darkTheme {
    color: #fff;
    background-color: #333;
}
.lightTheme {
    color: #464b5b;
    background-color: #fff;
}
/* media queries */
@media only screen and (max-width: 768px) {
    .grid {
        grid-template-columns: 1fr;
    }
}
@media only screen and (min-width: 769px) and (max-width: 992px) {
    .grid {
        grid-template-columns: repeat(2, minmax(250px, 1fr) );
    }
}